@import "compass/css3";
$backgroundColor:#1f1f1f;
$blockColor:#3d3d3d;
$blockHoverColor:#4f4f4f;
$fontColor:#fff;
//修改頁面元素
html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: $backgroundColor;
}

//覆寫bootstrap
.container {
    width: 80%;
    height: 100%;
    margin-top: 30px;
}

.row {
    width: 100%;
    height: 100%;
}

//首頁block
.block-outer {
    color: $fontColor;
    margin-bottom: 30px;
}

.block-outer-1,
.block-outer-2,
.block-outer-3 {
    height: 290px;
}

.block-inner {
    width: 90%;
    position: absolute;
    background: $blockColor;
    @include transition(all, 0.7s, ease-in);
    @include border-radius(1.5%);
    &.gotop {
        z-index: 1;
        top: 1000%;
    }
    &.ontop {
        display: none;
    }
    &.opacity {
        opacity: (0.6);
    }
}

.clickable:hover {
    background: $blockHoverColor;
    cursor: pointer;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: center;
}

.block-inner-1 {
    height: 100%;
    top: 0;
    &:hover {}
}

.block-inner-2 {
    height: 130px;
    margin-bottom: 30px;
}

.block-inner-3 {
    height: 100%;
    width: 95%;
    top: 0;
}

.block-inner-top {
    top: 0;
}

.block-inner-bottom {
    top: 160px;
}

.block-header {
    height: 30px;
    width: 100%;
    border-bottom: 1px #000000 dotted;
    line-height: 30px;
    padding-left: 5px;
}

.block-body {
    height: calc(100% - 30px);
    height: -webkit-calc(100% - 30px);
    width: 100%;
}

.block-thumb {
    height: 100%;
    width: 100%;
}

//詳細block
.block-detail {
    height: 90%;
    width: 80%;
    left: 10%;
    position: fixed;
    top: -1000%;
    color: $fontColor;
    background: $blockColor;
    @include transition(all,
    1.5s,
    ease-in,
    1s);
    &.active {
        top: 5%;
    }
}

.block-detail>.block-body>div {
    padding: 15px;
}

.title {
    left: 5px;
    position: absolute;
}

.back {
    right: 5px;
    position: absolute;
    cursor: pointer;
}

//detai1
#detail1-main-chart {
    width: 70%;
    height: 50%;
    left: 0;
    top: 30px;
    position: absolute;
}

#detail1-right-tabs {
    width: 25%;
    height: 50%;
    right: 0;
    top: 30px;
    position: absolute;
}

#detail1-left-chart,
#detail1-right-chart {
    width: 50%;
    height: 50%;
    position: absolute;
}

#detail1-left-chart {
    left: 0;
    top: 50%;
}

#detail1-right-chart {
    right: 0;
    top: 50%;
}

//detail2
#detail2-main-chart {
    width: 100%;
    height: 50%;
    left: 0;
    top: 30px;
    position: absolute;
}

#detail2-left-chart,
#detail2-right-chart {
    width: 50%;
    height: 50%;
    position: absolute;
}

#detail2-left-chart {
    left: 0;
    top: 50%;
}

#detail2-right-chart {
    right: 0;
    top: 50%;
}

//detail3
#detail3-main-iframe {
    width: 100%;
    height: 100%;
}

//status
#block-chart-status {
    width: 100%;
    height: 100%;
}

//progressbar
.progress-bar-theme {
    background-color: rgb(43, 144, 143);
}

.progress-title {
    margin-top: 1.5%;
    font-size: 20px;
    text-align: center;
}

.block-progress {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.block-progress span {
    &.pull-right {
        padding-right: 5px;
    }
}

//user
.block-user-photo {
    width: 100px;
    height: 100%;
    padding: 15px;
    float: left;
}

.user-photo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: relative;
}

.block-user-info {
    width: calc(100% - 200px);
    width: -webkit-calc(100% - 100px);
    height: 100%;
    float: left;
}

.user-name {
    width: 100%;
    height: 50%;
    text-align: left;
    line-height: 50px;
    color: $fontColor;
    font-size: 24px;
    float: left;
}

.user-group {
    width: 50%;
    height: 50%;
    float: left;
}

.user-nav {
    display: inline-block;
    width: 100%;
    height: 100%;
    li {
        list-style-type: none;
        height: 50px;
        width: 50%;
        float: left;
        a {
            height: 100%;
            width: 100%;
            line-height: 50px;
            display: block;
            text-decoration: none;
            color: $fontColor;
        }
    }
}

.block-user-rank {
    width: 50%;
    height: 50%;
    float: left;
    line-height: 50px;
    text-align: center;
}

.icon-red {
    color: #ff0000;
}

//rank
.rank-info {
    width: 70%;
    height: 100%;
    float: left;
    line-height: 90px;
    font-size: 30px;
    text-align: center;
}

.rank-detail {
    a {
        line-height: 90px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        color: $fontColor;
    }
}
