@import "compass/css3";

/* 設定變數 */

$backgroundColor:#1f1f1f;
$blockColor:#3d3d3d;
$blockHoverColor:#4f4f4f;
$fontColor:#FFFFFF;
$chartColor:#FF9B00;
$shadow1:0 2px 5px 0 rgba(0, 0, 0, 0.16),
0 2px 10px 0 rgba(0, 0, 0, 0.12);
$shadow2:0 8px 17px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow3:0 12px 15px 0 rgba(0, 0, 0, 0.24),
0 17px 50px 0 rgba(0, 0, 0, 0.19);

/* 設定變數結尾 */


/*修改頁面元素 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: $backgroundColor;
}


/* 修改頁面元素結尾 */


/* 覆寫bootstrap */

.container {
    width: 80%;
    height: 100%;
}

.row {
    width: 100%;
    height: 90%;
    margin-top: 30px;
    &.filter {
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
}

.form-control {
    margin: 5px;
}

.form-group {
    margin-bottom: 0px;
}

.btn-default {
    height: 100%;
    line-height: 1.2;
}
.btn-flat {
    background: rgba(0, 0, 0, 0);
    color: $fontColor;
    border: 1px #ccc solid;
    &:hover {
        color: $fontColor;
    }
    &:focus {
        color: $fontColor;
    }
}


/* 覆寫bootstrap */


/* 首頁block */

.unscroll {
    overflow: hidden;
}

.block-outer {
    height: 290px;
    color: $fontColor;
    margin-bottom: 30px;
}

.block-inner {
    width: 90%;
    position: absolute;
    background: $blockColor;
    @include transition(all, 0.7s, ease-in);
    @include border-radius(1.5%);
    &.gotop {
        z-index: 1;
        top: 1000%;
    }
    &.ontop {
        display: none;
    }
    &.opacity {
        opacity: (0.6);
    }
}

.block-inner-1 {
    height: 100%;
    top: 0;
}

.block-inner-2 {
    width: 95%;
    height: 100%;
    top: 0;
    &:hover {
        box-shadow: $shadow3;
    }
}

.block-inner-3 {
    width: 90%;
    height: 100%;
    left: 5%;
    top: 0;
}

.block-inner-4 {
    width: 92.5%;
    height: 100%;
    left: 0;
    top: 0;
}

.block-header {
    height: 30px;
    width: 100%;
    border-bottom: 1px #000000 dotted;
    line-height: 30px;
    padding-left: 5px;
}

.block-body {
    height: calc(100% - 30px);
    height: -webkit-calc(100% - 30px);
    width: 100%;
}

.block-thumb {
    height: 100%;
    width: 100%;
}


/* 首頁block結尾 */


/* 會員 */

.block-login-input {
    width: 100%;
    height: 80%;
    padding: 24px;
    >input {
        margin: 8px auto;
    }
}

.block-register-input {
    width: 100%;
    height: 20%;
    position: relative;
    text-align: right;
}

#btn-login,
#btn-register,
#btn-board {
    background: rgba(0, 0, 0, 0);
    color: $fontColor;
    &:hover {
        color: $fontColor;
    }
    &:focus {
        color: $fontColor;
    }
}

#btn-login {
    margin-top: 20px;
    border: 1px #fff solid;
    width: 80%;
    font-size: 16px;
}

#btn-register {
    text-decoration: underline;
}

.block-user {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.user-photo {
    width: 100%;
    height: 50%;
    img {
        width: 115px;
        height: 115px;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
    }
}

.user-name {
    width: 100%;
    height: 30%;
    text-align: center;
    line-height: 69px;
    color: $fontColor;
    font-size: 24px;
}

.user-board {
    width: 100%;
    height: 20%;
}

#btn-board {
    width: 100%;
    height: 100%;
    border: 1px #fff solid;
}


/* 會員結尾 */


/* 最新消息 */

.scroller {
    overflow: auto;
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 0;
    width: 100%;
}

.block-news-list {
    width: 100%;
    height: 50px;
    padding: 5px;
    border-bottom: 1px #9f9f9f solid;
    line-height: 30px;
    cursor: pointer;
    >div {
        float: left;
    }
    &:hover {
        background: $blockHoverColor;
    }
    &:last-child {
        border: none;
    }
}


/* 最新消息結尾 */


/* 名人榜 */

.block-fame {
    width: 100%;
    height: 100%;
    position: relative;
}

.block-fame-list {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    @include transition(all, 0.3s, ease-in-out);
    &.opacity {
        opacity: 1;
    }
    &.left {
        left: -120%;
    }
    &.active {
        left: 0;
    }
    &.right {
        left: 120%;
    }
}

.block-fame-title {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
}

.block-fame-thumb {
    width: 100%;
    height: 60%;
    padding-left: calc(50% - 65px);
    >img {
        width: 130px;
        height: 130px;
        @include border-radius(50%);
    }
}

.block-fame-name {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 20px;
}


/* 名人榜結尾 */

/* 推薦課程 */
.block-course-outer{
    width:100%;
    height:100%;
    left:0;
    top:0;
    position: fixed;
    background:rgba(0,0,0,0.5);
    @include transition(all,0.3s,ease-in);
    &.active{
    }
}
.block-course-inner{
    width:50%;
    height:80%;
    left:25%;
    top:10%;
    position: fixed;
    color:$fontColor;
    box-shadow:$shadow3;
    opacity:0;
    @include transition(all,0.3s,ease-in);
    &.active{
        opacity:1;
    }
    >.block-body{
        overflow:hidden;
        position: relative;
    }
}

.course-scroller {
    overflow:auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width:100%;
    @include transition(all,0.3s,ease-in);
    &.active{
        left:-100%;
    }
}

.course-list{
    padding:10px;
}
.course-position{
    height:30px;
    padding:12px;
    &:hover{
        background:$blockHoverColor;
        cursor:pointer;
    }
}
.position-detail{
    width:100%;
    height:100%;
    left:120%;
    top:0;
    position: relative;
    @include transition(all,0.3s,ease-in);
    &.active{
        left:0;
    }
}
/* 推薦課程結尾 */
/* 詳細block */

.block-detail-outer {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: -1000%;
    @include transition(all, 1s, ease-in, 1s);
    &.active {
        top: 0;
    }
}

.block-detail {
    height: 90%;
    width: 80%;
    left: 10%;
    position: fixed;
    top: -1000%;
    color: $fontColor;
    background: $blockColor;
    @include border-radius(1.5%);
    @include transition(all, 1s, ease-in, 1s);
    &.active {
        top: 5%;
    }
}

.block-detail>.block-body>div {
    padding: 15px;
}

.title {
    left: 5px;
    position: absolute;
}

.back {
    right: 5px;
    position: absolute;
    cursor: pointer;
}


/* detail3 */

#detail3-main-iframe {
    width: 100%;
    height: 100%;
}
