<!DOCTYPE html>
<html lang="en" ng-app="mainApp" ng-controller="blockController">

<head>
    <meta charset="UTF-8">
    <title>FIT ME總覽首頁</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body ng-class="{unscroll:isDetailActive,unscroll:isCourseClick}">
    <div class="container">
        <div class="row">
            <!-- 主頁面 -->
            <div class="block-container" ng-class="{gotop:isDetailActive,ontop:isOntop}" when-transition-end="setOntop()" >
            <div class="col-md-3 col-xs-6 block-outer">
                <!-- 會員 -->
                <!-- TODO: ProgressButtonStyles -->
                <div class="block-inner" id="block-user">
                    <div class="block-header">會員</div>
                    <div class="block-body">
                        <!-- 未登入 -->
                        <div class="block-login-input form-group text-center" ng-show="!isLogin">
                            <input type="text" id="input-account" class="form-control" placeholder="Account" ng-model="loginAccount" ng-disabled="loginLoading">
                            <input type="password" id="input-password" class="form-control" placeholder="Password" ng-model="loginPassword" ng-disabled="loginLoading">
                            <button type="button" class="btn btn-normal" id="btn-login" ng-class="{active:loginLoading}" ng-click="login()" ng-disabled="loginLoading">{{loginMessage}}</button>
                        </div>
                        <div class="block-register-input text-center" ng-show="!isLogin">
                            <button type="button" class="btn btn-normal" id="btn-register" ng-disabled="loginLoading">還沒有帳號嗎？點我註冊</button>
                        </div>
                        <!-- 登入 -->
                        <div class="block-user text-center" ng-show="isLogin">
                            <div class="user-photo">
                                <img ng-src="{{userPhoto}}">
                            </div>
                            <div class="user-name">
                                <p>{{userName}}</p>
                            </div>
                            <div class="user-board">
                                <button class="btn btn-default" id="btn-board" ng-submit="toBoard()">前往個人首頁</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 block-outer">
                <div class="block-inner" id="block-news">
                    <div class="block-header"><span class="title pull-left">最新消息</span>
                        <button class="pull-right btn btn-default">編輯</button>
                    </div>
                    <div class="block-body">
                        <div class="news-scroller">
                            <div class="block-news-list" ng-click="showDetail4(news.id)" ng-repeat="news in newsList">
                                <div class="block-news-title">{{news.title}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 block-outer">
                <!-- 名人榜 -->
                <div class="block-inner" id="block-Fame">
                    <div class="block-header">名人榜</div>
                    <div class="block-body">
                        <div class="block-fame">
                            <div class="block-fame-list" ng-class="[fame.opacity]" ng-repeat="fame in fameList">
                                <div class="block-fame-title">{{fame.title}}</div>
                                <div class="block-fame-thumb"><img ng-src="{{fame.thumb}}"></div>
                                <div class="block-fame-name">{{fame.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 block-outer">
                <!-- 訓練成果相片 -->
                <div class="block-inner" id="block-album">
                    <div class="block-header">訓練成果相片</div>
                    <div class="block-body">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 block-outer">
                <!-- 大數據分析 -->
                <div class="block-inner" id="block-bigdata1">
                    <div class="block-header">大數據分析一</div>
                    <div class="block-body">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 block-outer">
                <!-- 大數據分析 -->
                <div class="block-inner" id="block-bigdata2">
                    <div class="block-header">大數據分析二</div>
                    <div class="block-body">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 block-outer">
                <!-- 大數據分析 -->
                <div class="block-inner" id="block-bigdata3">
                    <div class="block-header">大數據分析三</div>
                    <div class="block-body">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 block-outer">
                <!-- 大數據分析 -->
                <div class="block-inner" id="block-bigdata4">
                    <div class="block-header">大數據分析四</div>
                    <div class="block-body">
                    </div>
                </div>
            </div>
            <!-- 初學課程 -->
            <div class="col-md-3 col-xs-6 block-outer">
                <div class="block-inner" id="block-beginner" ng-click="showCourse('beginner')">
                    <div class="block-header">初學課程</div>
                    <div class="block-body"></div>
                </div>
            </div>
            <!-- 熱門課程 -->
            <div class="col-md-3 col-xs-6 block-outer">
                <div class="block-inner" id="block-hot" ng-click="showCourse('hot')">
                    <div class="block-header">熱門課程</div>
                    <div class="block-body"></div>
                </div>
            </div>
            <!-- 主題課程 -->
            <div class="col-md-3 col-xs-6 block-outer">
                <div class="block-inner" id="block-theme" ng-click="showCourse('theme')">
                    <div class="block-header">主題課程</div>
                    <div class="block-body"></div>
                </div>
            </div>
            <!-- 目標課程 -->
            <div class="col-md-3 col-xs-6 block-outer">
                <div class="block-inner" id="block-target" ng-click="showCourse('target')">
                    <div class="block-header">目標課程</div>
                    <div class="block-body"></div>
                </div>
            </div>    
            </div>
            <!-- 推薦課程詳細 -->
            <div class="block-course-outer" ng-show="isCourseClick" ng-click="hideCourse()" ng-class="{active:isCourseShow}">
            </div>
            <div class="block-inner block-course-inner" ng-show="isCourseClick" ng-class="{active:isCourseShow}">
                <div class="block-header">{{courseTitle}}</div>
                <div class="block-body">
                    <div class="course-scroller"  ng-class="{active:isPositionShow}">
                        <div class="course-list" ng-repeat="course in courseList">
                            <p>{{course.day}}</p>
                            <div class="course-position" ng-repeat="position in course.position" ng-click="showPositionDetail(position.pos)">
                                <p>{{position.pos}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- 動作詳細 -->
                    <div class="position-detail" ng-class="{active:isPositionShow}">
                        <p>{{positionName}}</p>
                        <p>動作詳細說明（圖解或影片）</p>
                        <br>
                        <br>
                        <button class="btn btn-flat" ng-click="backCourseList()">返回課程預覽</button>
                    </div>
                </div>
            </div>
            <!-- 詳細block4 -->
            <div class="block-detail-outer" ng-class="{active:isDetailActive}" ng-click="showIndex()"></div>
            <div class="block-detail" id="block-detail-4" ng-class="{active:detail4Active}">
                <div class="prev"></div>
                <div class="next"></div>
                <div class="block-header">
                    <sapn class="title">{{detailTitle}}</sapn><span class="back" ng-click="showIndex()"><i class="fa fa-times icon-back"></i></span></div>
                <div class="block-body">
                    <p>{{detailContent}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/jquery-2.2.1.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-animate.min.js"></script>
    <script src="javascripts/angular-touch.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/highcharts.js"></script>
    <script src="javascripts/highcharts-more.js"></script>
    <!-- <script src="javascripts/dark-unica.js"></script> -->
    <script src="javascripts/main.js"></script>
    <script src="javascripts/chart.js"></script>
</body>

</html>
