@charset "UTF-8";
/* 設定變數 */
/* 設定變數結尾 */
/* 修改頁面元素 */
/* line 22, ../sass/board.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 28, ../sass/board.scss */
body {
  background: #1f1f1f;
}

/* 修改頁面元素結尾 */
/* 覆寫bootstrap */
/* line 38, ../sass/board.scss */
.container {
  width: 80%;
  height: 100%;
}

/* line 43, ../sass/board.scss */
.btn:focus,
.btn:active {
  color: inherit;
}

/* line 48, ../sass/board.scss */
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

/* line 57, ../sass/board.scss */
.btn-flat {
  background: transparent;
  color: #FFFFFF;
  border: 1px #ccc solid;
}
/* line 61, ../sass/board.scss */
.btn-flat:hover {
  color: #FFFFFF;
}
/* line 64, ../sass/board.scss */
.btn-flat:focus {
  color: #FFFFFF;
}

/* line 69, ../sass/board.scss */
.btn-options {
  background: #f0ad4e;
  border-color: #eea236;
  color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 74, ../sass/board.scss */
.btn-options.active, .btn-options.active:hover {
  background: #d58512;
  border-color: #985f0d;
  color: #FFFFFF;
}
/* line 80, ../sass/board.scss */
.btn-options:hover {
  background: #ec971f;
  border-color: #d58512;
  color: #FFFFFF;
}

/* line 87, ../sass/board.scss */
.btn-saveSVG {
  background: #3a5795;
  color: #FFFFFF;
  height: 100%;
  line-height: 1.2;
}
/* line 92, ../sass/board.scss */
.btn-saveSVG:hover {
  color: #FFFFFF;
}
/* line 95, ../sass/board.scss */
.btn-saveSVG:focus {
  color: #FFFFFF;
}

/* line 99, ../sass/board.scss */
.fa {
  margin-left: 5px;
}

/* line 102, ../sass/board.scss */
.icon-success {
  color: #449d44;
  opacity: 0;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 106, ../sass/board.scss */
.icon-success.active {
  opacity: 1;
}

/* 覆寫bootstrap結尾 */
/* 首頁設定 */
/* line 117, ../sass/board.scss */
.clearfix {
  overflow: auto;
}

/* line 121, ../sass/board.scss */
.unscroll {
  overflow: hidden;
}

/* line 125, ../sass/board.scss */
.block-container {
  margin-top: 30px;
  width: 80%;
  position: absolute;
  top: 0;
  left: 10%;
  -moz-transition: top, 1s, ease-in;
  -o-transition: top, 1s, ease-in;
  -webkit-transition: top, 1s, ease-in;
  transition: top, 1s, ease-in;
  -moz-transition: blur, 0.3s, liner;
  -o-transition: blur, 0.3s, liner;
  -webkit-transition: blur, 0.3s, liner;
  transition: blur, 0.3s, liner;
}
/* line 133, ../sass/board.scss */
.block-container.gotop {
  top: 300%;
}
/* line 136, ../sass/board.scss */
.block-container.ontop {
  display: none;
}
/* line 139, ../sass/board.scss */
.block-container.filter {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

/* line 145, ../sass/board.scss */
.block-outer {
  height: 290px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

/* line 151, ../sass/board.scss */
.block-inner {
  width: 100%;
  height: 100%;
  position: relative;
  background: #3d3d3d;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
  -moz-border-radius: 1.5%;
  -webkit-border-radius: 1.5%;
  border-radius: 1.5%;
}
/* line 159, ../sass/board.scss */
.block-inner.opacity {
  opacity: 0.6;
}
/* line 162, ../sass/board.scss */
.block-inner.clickable:hover {
  background: #4f4f4f;
  cursor: pointer;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 171, ../sass/board.scss */
.block-header {
  height: 30px;
  width: 100%;
  border-bottom: 1px #000000 dotted;
  line-height: 30px;
  padding-left: 5px;
}

/* line 179, ../sass/board.scss */
.block-body {
  height: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  width: 100%;
}

/* line 185, ../sass/board.scss */
.block-thumb {
  height: 98%;
  width: 98%;
  margin: 0 auto;
  margin-top: 0.4%;
}

/*彈出訊息 */
/* line 195, ../sass/board.scss */
.block-message {
  height: 160px;
  width: 240px;
  padding: 12px;
  line-height: 30px;
  background: #3d3d3d;
  border: 1px #FF9B00 solid;
  left: 25%;
  position: relative;
  opacity: 0;
  z-index: 1;
  cursor: auto;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 210, ../sass/board.scss */
.block-message.active {
  z-index: 10;
}

/* line 215, ../sass/board.scss */
#training-message {
  top: -60%;
}
/* line 217, ../sass/board.scss */
#training-message.active {
  top: 10%;
  opacity: 1;
}

/* line 223, ../sass/board.scss */
#grow-message {
  top: -80%;
}
/* line 225, ../sass/board.scss */
#grow-message.active {
  top: -165%;
  opacity: 1;
}

/* 彈出訊息結尾 */
/* 首頁結尾 */
/* 會員 */
/* line 240, ../sass/board.scss */
.block-user {
  width: 100%;
  height: 100%;
  padding: 15px;
}

/* line 246, ../sass/board.scss */
.block-user-info {
  width: 100%;
  height: 40%;
}

/* line 251, ../sass/board.scss */
.block-user-photo {
  width: 80px;
  height: 100%;
  float: left;
}

/* line 257, ../sass/board.scss */
.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* line 263, ../sass/board.scss */
.block-user-name {
  width: calc(100% - 80px);
  height: 60%;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  float: left;
}

/* line 272, ../sass/board.scss */
.block-user-update {
  width: calc(100% - 80px);
  height: 40%;
  text-align: center;
  font-size: 14px;
  float: left;
}

/* line 280, ../sass/board.scss */
.block-user-group {
  width: 100%;
  height: 40%;
}
/* line 283, ../sass/board.scss */
.block-user-group > div {
  height: 50%;
  float: left;
  line-height: 30px;
}

/* line 290, ../sass/board.scss */
.block-user-count,
.block-user-achieve {
  width: 60%;
}

/* line 295, ../sass/board.scss */
.block-user-countDetail,
.block-user-achieveDetail {
  width: 40%;
  text-align: center;
}

/* line 301, ../sass/board.scss */
.block-user-index {
  width: 100%;
  height: 20%;
}

/* line 306, ../sass/board.scss */
#btn-index, #btn-logout {
  height: 100%;
  font-size: 18px;
}

/* line 310, ../sass/board.scss */
#btn-index {
  width: 65%;
}

/* line 313, ../sass/board.scss */
#btn-logout {
  width: 30%;
}

/* 會員結尾 */
/* 行事曆 */
/* line 323, ../sass/board.scss */
#block-course > .block-body {
  position: relative;
}

/* line 327, ../sass/board.scss */
.block-course-start {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 230px;
}

/* line 334, ../sass/board.scss */
#btn-course {
  font-size: 18px;
}

/* line 338, ../sass/board.scss */
.block-course-outer {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

/* line 348, ../sass/board.scss */
.block-course-inner {
  width: 50%;
  height: 80%;
  left: 25%;
  top: 10%;
  position: fixed;
  color: #FFFFFF;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  z-index: 999;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 361, ../sass/board.scss */
.block-course-inner.active {
  opacity: 1;
}
/* line 364, ../sass/board.scss */
.block-course-inner > .block-body {
  overflow: hidden;
  position: relative;
}

/* line 370, ../sass/board.scss */
.course-title {
  font-size: 16px;
  padding: 10px;
}

/* line 375, ../sass/board.scss */
.course-options {
  width: 100%;
  height: 100%;
  left: -120%;
  top: 0;
  position: absolute;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 384, ../sass/board.scss */
.course-options.active {
  left: 0;
}

/* line 389, ../sass/board.scss */
.course-preview {
  width: 100%;
  height: 100%;
  left: 120%;
  top: 0;
  position: absolute;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 398, ../sass/board.scss */
.course-preview.active {
  left: 0;
}
/* line 401, ../sass/board.scss */
.course-preview.left {
  left: -120%;
}

/* line 406, ../sass/board.scss */
.option {
  margin: 12px;
}

/* line 410, ../sass/board.scss */
.options {
  height: 100%;
  float: left;
  margin: 8px;
}

/* line 416, ../sass/board.scss */
.power-option {
  color: #000000;
}

/* line 420, ../sass/board.scss */
.scroller {
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* line 428, ../sass/board.scss */
.preview-course {
  width: 100%;
}

/* line 431, ../sass/board.scss */
.preview-list {
  padding: 10px;
  float: left;
}

/* line 436, ../sass/board.scss */
.preview-date {
  width: 100%;
  padding-top: 24px;
}

/* line 441, ../sass/board.scss */
.preview-confirm {
  width: 100%;
  padding-top: 24px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 448, ../sass/board.scss */
.preview-posture {
  height: 30px;
  padding: 8px;
  line-height: 15px;
}
/* line 452, ../sass/board.scss */
.preview-posture:hover {
  background: #4f4f4f;
  cursor: pointer;
}

/* line 458, ../sass/board.scss */
.course-posture {
  width: 100%;
  height: 100%;
  left: 120%;
  top: 0;
  position: relative;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 467, ../sass/board.scss */
.course-posture.active {
  left: 0;
}

/* line 471, ../sass/board.scss */
.posture-iframe {
  width: 90%;
  height: 77.5%;
  margin: 0 auto;
}

/* line 476, ../sass/board.scss */
.block-course-list {
  width: 100%;
  height: 60px;
  padding: 5px;
  border-bottom: 1px #9f9f9f solid;
  cursor: pointer;
}
/* line 482, ../sass/board.scss */
.block-course-list > div {
  float: left;
}
/* line 485, ../sass/board.scss */
.block-course-list:hover {
  background: #4f4f4f;
}
/* line 488, ../sass/board.scss */
.block-course-list:last-child {
  border: none;
}

/* line 493, ../sass/board.scss */
.block-course-thumb {
  width: 50px;
  height: 50px;
  padding: 2px;
}

/* line 499, ../sass/board.scss */
.course-thumb {
  width: 100%;
  height: 100%;
}

/* line 504, ../sass/board.scss */
.block-course-title {
  width: calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  height: 60%;
  line-height: 30px;
  padding-left: 10px;
}

/* line 512, ../sass/board.scss */
.block-course-time {
  width: calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  height: 40%;
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px;
}

/* 行事曆結尾 */
/* 詳細block */
/* line 527, ../sass/board.scss */
.block-detail-outer {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: -1000%;
  -moz-transition: all, 1s, ease-in, 1s;
  -o-transition: all, 1s, ease-in, 1s;
  -webkit-transition: all, 1s, ease-in, 1s;
  transition: all, 1s, ease-in, 1s;
}
/* line 537, ../sass/board.scss */
.block-detail-outer.active {
  top: 0;
}

/* line 542, ../sass/board.scss */
.block-detail {
  height: 90%;
  width: 80%;
  left: 10%;
  position: fixed;
  top: -1000%;
  color: #FFFFFF;
  background: #3d3d3d;
  -moz-border-radius: 1.5%;
  -webkit-border-radius: 1.5%;
  border-radius: 1.5%;
  -moz-transition: all, 1s, ease-in, 1s;
  -o-transition: all, 1s, ease-in, 1s;
  -webkit-transition: all, 1s, ease-in, 1s;
  transition: all, 1s, ease-in, 1s;
}
/* line 555, ../sass/board.scss */
.block-detail.active {
  top: 5%;
}

/* line 560, ../sass/board.scss */
.block-detail > .block-body > div {
  padding: 15px;
}

/* line 564, ../sass/board.scss */
.title {
  left: 5px;
  position: absolute;
}

/* line 569, ../sass/board.scss */
.back {
  right: 5px;
  position: absolute;
  cursor: pointer;
}

/* detai1 */
/* line 578, ../sass/board.scss */
#detail1-main-chart {
  width: 85%;
  height: 50%;
  left: 0;
  top: 30px;
  position: absolute;
}

/* line 586, ../sass/board.scss */
#detail1-right-tabs {
  width: 10%;
  height: 50%;
  right: 0;
  top: 30px;
  position: absolute;
}

/* line 594, ../sass/board.scss */
#detail1-left-chart,
#detail1-right-chart {
  width: 50%;
  height: 50%;
  position: absolute;
}

/* line 601, ../sass/board.scss */
#detail1-left-chart {
  left: 0;
  top: 50%;
}

/* line 606, ../sass/board.scss */
#detail1-right-chart {
  right: 0;
  top: 50%;
}

/* detail1結尾 */
/* detail2 */
/* line 617, ../sass/board.scss */
#detail2-topleft-chart,
#detail2-topright-chart,
#detail2-bottomleft-chart,
#detail2-bottomright-chart {
  width: 50%;
  height: 50%;
  position: absolute;
}

/* line 626, ../sass/board.scss */
#detail2-topleft-chart {
  left: 0;
  top: 0;
}

/* line 631, ../sass/board.scss */
#detail2-right-chart {
  right: 0;
  top: 0;
}

/* line 636, ../sass/board.scss */
#detail2-left-chart {
  left: 0;
  top: 50%;
}

/* line 641, ../sass/board.scss */
#detail2-right-chart {
  right: 0;
  top: 50%;
}

/* detail2結尾 */
/* detail3 */
/* line 652, ../sass/board.scss */
#detail3-main-iframe {
  width: 100%;
  height: 100%;
}

/* detail3結尾 */
/*詳細block結尾 */
