@charset "UTF-8";
/* 設定變數 */
@font-face {
  font-family: titleFont;
  src: url("../fonts/titleFont.woff") format("woff");
}
/* 設定變數結尾 */
/* 修改頁面元素 */
/* line 45, ../sass/board.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 51, ../sass/board.scss */
body {
  background: #1f1f1f;
}

/* line 55, ../sass/board.scss */
div,
p,
a,
button,
section,
tr,
td,
ul,
li,
span {
  font-family: titleFont;
}

/* 修改頁面元素結尾 */
/* 覆寫bootstrap */
/* line 74, ../sass/board.scss */
.container {
  height: 100%;
}

/* line 78, ../sass/board.scss */
.btn:focus,
.btn:active {
  color: inherit;
}

/* line 83, ../sass/board.scss */
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

/* line 92, ../sass/board.scss */
.btn-flat {
  background: transparent;
  color: #FFFFFF;
  border: 1px #ccc solid;
}
/* line 96, ../sass/board.scss */
.btn-flat:hover {
  color: #FFFFFF;
}
/* line 99, ../sass/board.scss */
.btn-flat:focus {
  color: #FFFFFF;
}

/* line 104, ../sass/board.scss */
.btn-options {
  background: #f0ad4e;
  border-color: #eea236;
  color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 109, ../sass/board.scss */
.btn-options.active, .btn-options.active:hover {
  background: #d58512;
  border-color: #985f0d;
  color: #FFFFFF;
}
/* line 115, ../sass/board.scss */
.btn-options:hover {
  background: #ec971f;
  border-color: #d58512;
  color: #FFFFFF;
}

/* line 122, ../sass/board.scss */
.btn-saveSVG {
  background: #3a5795;
  color: #FFFFFF;
  height: 100%;
  line-height: 1.2;
}
/* line 127, ../sass/board.scss */
.btn-saveSVG:hover {
  color: #FFFFFF;
}
/* line 130, ../sass/board.scss */
.btn-saveSVG:focus {
  color: #FFFFFF;
}

/* line 135, ../sass/board.scss */
.fa {
  margin-left: 5px;
}

/* line 139, ../sass/board.scss */
.icon-success {
  color: #449d44;
  opacity: 0;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 145, ../sass/board.scss */
.icon-success.active {
  opacity: 1;
}

/* 覆寫bootstrap結尾 */
/* 首頁設定 */
/* line 156, ../sass/board.scss */
.clearfix {
  overflow: auto;
}

/* line 160, ../sass/board.scss */
.unscroll {
  overflow: hidden;
}

/* line 164, ../sass/board.scss */
.block-container {
  margin-top: 30px;
  width: 70%;
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  -moz-transition: top, 1s, ease-in;
  -o-transition: top, 1s, ease-in;
  -webkit-transition: top, 1s, ease-in;
  transition: top, 1s, ease-in;
  -moz-transition: blur, 0.3s, liner;
  -o-transition: blur, 0.3s, liner;
  -webkit-transition: blur, 0.3s, liner;
  transition: blur, 0.3s, liner;
}
@media screen and (max-width: 1280px) {
  /* line 164, ../sass/board.scss */
  .block-container {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}
/* line 182, ../sass/board.scss */
.block-container.gotop {
  top: 300%;
}
/* line 185, ../sass/board.scss */
.block-container.ontop {
  display: none;
}
/* line 188, ../sass/board.scss */
.block-container.filter {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

/* line 194, ../sass/board.scss */
.block-outer {
  height: 290px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

/* line 200, ../sass/board.scss */
.block-inner {
  width: 100%;
  height: 100%;
  position: relative;
  background: #3d3d3d;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
  -moz-border-radius: 1.5%;
  -webkit-border-radius: 1.5%;
  border-radius: 1.5%;
}
/* line 210, ../sass/board.scss */
.block-inner.opacity {
  opacity: 0.6;
}
/* line 213, ../sass/board.scss */
.block-inner.clickable:hover {
  background: #4f4f4f;
  cursor: pointer;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 222, ../sass/board.scss */
.block-header {
  height: 30px;
  width: 100%;
  border-bottom: 1px #000000 dotted;
  line-height: 30px;
  padding-left: 5px;
}

/* line 230, ../sass/board.scss */
.block-body {
  height: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  width: 100%;
}

/* line 236, ../sass/board.scss */
.block-thumb {
  height: 98%;
  width: 98%;
  margin: 0 auto;
  margin-top: 0.4%;
}

/*彈出訊息 */
/* line 246, ../sass/board.scss */
.block-message {
  height: 160px;
  width: 240px;
  padding: 12px;
  line-height: 30px;
  background: #3d3d3d;
  border: 1px #FF9B00 solid;
  left: 25%;
  position: relative;
  opacity: 0;
  z-index: 1;
  cursor: auto;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 261, ../sass/board.scss */
.block-message.active {
  z-index: 10;
}

/* line 266, ../sass/board.scss */
#training-message {
  top: -60%;
}
/* line 268, ../sass/board.scss */
#training-message.active {
  top: 10%;
  opacity: 1;
}

/* line 274, ../sass/board.scss */
#grow-message {
  top: -80%;
}
/* line 276, ../sass/board.scss */
#grow-message.active {
  top: -165%;
  opacity: 1;
}

/* 彈出訊息結尾 */
/* 首頁結尾 */
/* 會員 */
/* line 291, ../sass/board.scss */
#block-user {
  background: #006C4C;
}

/* line 295, ../sass/board.scss */
.block-user {
  width: 100%;
  height: 100%;
  padding: 15px;
}

/* line 301, ../sass/board.scss */
.block-user-info {
  width: 100%;
  height: 40%;
}

/* line 306, ../sass/board.scss */
.block-user-photo {
  width: 80px;
  height: 100%;
  float: left;
}

/* line 312, ../sass/board.scss */
.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* line 318, ../sass/board.scss */
.block-user-name {
  width: calc(100% - 80px);
  height: 60%;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  float: left;
}

/* line 327, ../sass/board.scss */
.block-user-update {
  width: calc(100% - 80px);
  height: 40%;
  text-align: center;
  font-size: 14px;
  float: left;
}

/* line 335, ../sass/board.scss */
.block-user-group {
  width: 100%;
  height: 40%;
}
/* line 338, ../sass/board.scss */
.block-user-group > div {
  height: 50%;
  float: left;
  line-height: 30px;
}

/* line 345, ../sass/board.scss */
.block-user-count,
.block-user-achieve {
  width: 60%;
}

/* line 350, ../sass/board.scss */
.block-user-countDetail,
.block-user-achieveDetail {
  width: 40%;
  text-align: center;
}

/* line 356, ../sass/board.scss */
.block-user-index {
  width: 100%;
  height: 20%;
}

/* line 361, ../sass/board.scss */
#btn-index,
#btn-logout {
  height: 100%;
  font-size: 18px;
}

/* line 367, ../sass/board.scss */
#btn-index {
  width: 65%;
}

/* line 371, ../sass/board.scss */
#btn-logout {
  width: 30%;
}

/* 會員結尾 */
/* 行事曆 */
/* line 381, ../sass/board.scss */
#block-course > .block-body {
  position: relative;
}

/* line 385, ../sass/board.scss */
.block-course-start {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 230px;
}

/* line 392, ../sass/board.scss */
#btn-course {
  font-size: 18px;
}

/* line 396, ../sass/board.scss */
.block-course-outer {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

/* line 406, ../sass/board.scss */
.block-course-inner {
  width: 50%;
  height: 80%;
  left: 25%;
  top: 10%;
  position: fixed;
  color: #FFFFFF;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  z-index: 999;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 419, ../sass/board.scss */
.block-course-inner.active {
  opacity: 1;
}
/* line 422, ../sass/board.scss */
.block-course-inner > .block-body {
  overflow: hidden;
  position: relative;
}

/* line 428, ../sass/board.scss */
.course-title {
  font-size: 16px;
  padding: 10px;
}

/* line 433, ../sass/board.scss */
.course-options {
  width: 100%;
  height: 100%;
  left: -120%;
  top: 0;
  position: absolute;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 442, ../sass/board.scss */
.course-options.active {
  left: 0;
}

/* line 447, ../sass/board.scss */
.course-preview {
  width: 100%;
  height: 100%;
  left: 120%;
  top: 0;
  position: absolute;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 456, ../sass/board.scss */
.course-preview.active {
  left: 0;
}
/* line 459, ../sass/board.scss */
.course-preview.left {
  left: -120%;
}

/* line 464, ../sass/board.scss */
.option {
  margin: 12px;
}

/* line 468, ../sass/board.scss */
.options {
  height: 100%;
  float: left;
  margin: 8px;
}

/* line 474, ../sass/board.scss */
.power-option {
  color: #000000;
}

/* line 478, ../sass/board.scss */
.scroller {
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* line 487, ../sass/board.scss */
.preview-course {
  width: 100%;
}

/* line 491, ../sass/board.scss */
.preview-list {
  padding: 10px;
  float: left;
}

/* line 496, ../sass/board.scss */
.preview-date {
  width: 100%;
  padding-top: 24px;
}

/* line 501, ../sass/board.scss */
.preview-confirm {
  width: 100%;
  padding-top: 24px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 508, ../sass/board.scss */
.preview-posture {
  height: 30px;
  padding: 8px;
  line-height: 15px;
}
/* line 512, ../sass/board.scss */
.preview-posture:hover {
  background: #4f4f4f;
  cursor: pointer;
}

/* line 518, ../sass/board.scss */
.course-posture {
  width: 100%;
  height: 100%;
  left: 120%;
  top: 0;
  position: relative;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 527, ../sass/board.scss */
.course-posture.active {
  left: 0;
}

/* line 532, ../sass/board.scss */
.posture-iframe {
  width: 90%;
  height: 77.5%;
  margin: 0 auto;
}

/* line 538, ../sass/board.scss */
.block-course-list {
  width: 100%;
  height: 60px;
  padding: 5px;
  border-bottom: 1px #9f9f9f solid;
  cursor: pointer;
}
/* line 544, ../sass/board.scss */
.block-course-list > div {
  float: left;
}
/* line 547, ../sass/board.scss */
.block-course-list:hover {
  background: #4f4f4f;
}
/* line 550, ../sass/board.scss */
.block-course-list:last-child {
  border: none;
}

/* line 555, ../sass/board.scss */
.block-course-thumb {
  width: 50px;
  height: 50px;
  padding: 2px;
}

/* line 561, ../sass/board.scss */
.course-thumb {
  width: 100%;
  height: 100%;
}

/* line 566, ../sass/board.scss */
.block-course-title {
  width: calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  height: 60%;
  line-height: 30px;
  padding-left: 10px;
}

/* line 574, ../sass/board.scss */
.block-course-time {
  width: calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  height: 40%;
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px;
}

/* 行事曆結尾 */
/* 詳細block */
/* line 589, ../sass/board.scss */
.block-detail-outer {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: -1000%;
  -moz-transition: all, 1s, ease-in, 1s;
  -o-transition: all, 1s, ease-in, 1s;
  -webkit-transition: all, 1s, ease-in, 1s;
  transition: all, 1s, ease-in, 1s;
}
/* line 599, ../sass/board.scss */
.block-detail-outer.active {
  top: 0;
}

/* line 604, ../sass/board.scss */
.block-detail {
  height: 90%;
  width: 80%;
  left: 10%;
  position: fixed;
  top: -1000%;
  color: #FFFFFF;
  background: #3d3d3d;
  -moz-border-radius: 1.5%;
  -webkit-border-radius: 1.5%;
  border-radius: 1.5%;
  -moz-transition: all, 1s, ease-in, 1s;
  -o-transition: all, 1s, ease-in, 1s;
  -webkit-transition: all, 1s, ease-in, 1s;
  transition: all, 1s, ease-in, 1s;
}
/* line 617, ../sass/board.scss */
.block-detail.active {
  top: 5%;
}

/* line 622, ../sass/board.scss */
.block-detail > .block-body > div {
  padding: 15px;
}

/* line 626, ../sass/board.scss */
.title {
  left: 5px;
  position: absolute;
}

/* line 631, ../sass/board.scss */
.back {
  right: 5px;
  position: absolute;
  cursor: pointer;
}

/* detai1 */
/* line 640, ../sass/board.scss */
#detail1-main-chart {
  width: 85%;
  height: 50%;
  left: 0;
  top: 30px;
  position: absolute;
}

/* line 648, ../sass/board.scss */
#detail1-right-tabs {
  width: 10%;
  height: 50%;
  right: 0;
  top: 30px;
  position: absolute;
}

/* line 656, ../sass/board.scss */
#detail1-left-chart,
#detail1-right-chart {
  width: 50%;
  height: 50%;
  position: absolute;
}

/* line 663, ../sass/board.scss */
#detail1-left-chart {
  left: 0;
  top: 50%;
}

/* line 668, ../sass/board.scss */
#detail1-right-chart {
  right: 0;
  top: 50%;
}

/* detail1結尾 */
/* detail2 */
/* line 679, ../sass/board.scss */
#detail2-topleft-chart,
#detail2-topright-chart,
#detail2-bottomleft-chart,
#detail2-bottomright-chart {
  width: 50%;
  height: 50%;
  position: absolute;
}

/* line 688, ../sass/board.scss */
#detail2-topleft-chart {
  left: 0;
  top: 0;
}

/* line 693, ../sass/board.scss */
#detail2-right-chart {
  right: 0;
  top: 0;
}

/* line 698, ../sass/board.scss */
#detail2-left-chart {
  left: 0;
  top: 50%;
}

/* line 703, ../sass/board.scss */
#detail2-right-chart {
  right: 0;
  top: 50%;
}

/* detail2結尾 */
/* detail3 */
/* line 714, ../sass/board.scss */
#detail3-main-iframe {
  width: 100%;
  height: 100%;
}

/* detail3結尾 */
/* detail4 */
/* line 725, ../sass/board.scss */
.detail4-calendar {
  width: 100%;
  height: 100%;
}

/* line 730, ../sass/board.scss */
.calendar-week {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* line 736, ../sass/board.scss */
.week-weekday {
  height: 40px;
  border: 1px #FFF solid;
  background: #4f4f4f;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
}

/* line 745, ../sass/board.scss */
.week-day {
  height: calc((100% - 40px) / 5);
  border: 1px #FFF solid;
  background: #4f4f4f;
}

/* line 751, ../sass/board.scss */
.calendar-posture-outer {
  height: 100%;
  padding-right: 0;
}

/* line 756, ../sass/board.scss */
.calendar-posture-inner {
  width: 100%;
  height: 100%;
  border: 1px #FFF solid;
}

/* line 762, ../sass/board.scss */
.day-thumb {
  width: 100%;
  position: relative;
  top: -6px;
}

/* line 768, ../sass/board.scss */
.posture-date,
.posture-title {
  text-align: center;
  margin: 12px;
  font-size: 24px;
}

/* line 775, ../sass/board.scss */
.posture-list {
  width: 100%;
  height: 100%;
}

/* line 780, ../sass/board.scss */
.posture-detail {
  width: 100%;
  height: 100%;
  font-size: 22px;
  text-align: center;
  padding-top: 22px;
}

/* line 788, ../sass/board.scss */
.posture-video {
  width: 397px;
  height: 244px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 795, ../sass/board.scss */
.posture-name {
  padding: 12px;
  border-bottom: 1px #9f9f9f solid;
  cursor: pointer;
}
/* line 799, ../sass/board.scss */
.posture-name > div {
  float: left;
}
/* line 802, ../sass/board.scss */
.posture-name:hover {
  background: #4f4f4f;
}
/* line 805, ../sass/board.scss */
.posture-name:last-child {
  border: none;
}

/* detail4結尾 */
/*詳細block結尾 */
