@charset "UTF-8";
/* 設定變數 */
/* 設定變數結尾 */
/* 修改頁面元素 */
/* line 22, ../sass/board.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 28, ../sass/board.scss */
body {
  background: #1f1f1f;
}

/* 修改頁面元素結尾 */
/* 覆寫bootstrap */
/* line 38, ../sass/board.scss */
.container {
  width: 80%;
  height: 100%;
}

/* line 43, ../sass/board.scss */
.row {
  width: 100%;
  height: 90%;
  margin-top: 30px;
}
/* line 47, ../sass/board.scss */
.row.filter {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

/* 覆寫bootstrap結尾 */
/* 首頁設定 */
/* line 58, ../sass/board.scss */
.unscroll {
  overflow: hidden;
}

/* line 61, ../sass/board.scss */
.block-outer {
  height: 290px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

/* line 67, ../sass/board.scss */
.block-inner {
  width: 90%;
  position: absolute;
  background: #3d3d3d;
  -moz-transition: all, 0.7s, ease-in;
  -o-transition: all, 0.7s, ease-in;
  -webkit-transition: all, 0.7s, ease-in;
  transition: all, 0.7s, ease-in;
  -moz-border-radius: 1.5%;
  -webkit-border-radius: 1.5%;
  border-radius: 1.5%;
}
/* line 73, ../sass/board.scss */
.block-inner.gotop {
  z-index: 1;
  top: 200%;
}
/* line 77, ../sass/board.scss */
.block-inner.ontop {
  display: none;
}
/* line 83, ../sass/board.scss */
.block-inner.clickable:hover {
  background: #4f4f4f;
  cursor: pointer;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 92, ../sass/board.scss */
.block-inner-1 {
  height: 100%;
  top: 0;
}

/* line 97, ../sass/board.scss */
.block-inner-2 {
  width: 95%;
  height: 100%;
  top: 0;
}
/* line 101, ../sass/board.scss */
.block-inner-2:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* line 106, ../sass/board.scss */
.block-inner-3 {
  width: 90%;
  height: 100%;
  left: 5%;
  top: 0;
}

/* line 113, ../sass/board.scss */
.block-inner-4 {
  width: 92.5%;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 120, ../sass/board.scss */
.block-header {
  height: 30px;
  width: 100%;
  border-bottom: 1px #000000 dotted;
  line-height: 30px;
  padding-left: 5px;
}

/* line 128, ../sass/board.scss */
.block-body {
  height: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  width: 100%;
}

/* line 134, ../sass/board.scss */
.block-thumb {
  height: 100%;
  width: 100%;
}

/*彈出訊息 */
/* line 142, ../sass/board.scss */
.block-message {
  height: 160px;
  width: 240px;
  padding: 12px;
  line-height: 30px;
  background: #3d3d3d;
  border: 1px #FF9B00 solid;
  top: -75%;
  position: relative;
  opacity: 0;
  z-index: 1;
  cursor: auto;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 157, ../sass/board.scss */
.block-message.active {
  z-index: 10;
}

/* line 162, ../sass/board.scss */
#training-message {
  left: 0;
}
/* line 164, ../sass/board.scss */
#training-message.active {
  left: -60%;
  opacity: 1;
}

/* line 170, ../sass/board.scss */
#grow-message {
  left: 50%;
}
/* line 172, ../sass/board.scss */
#grow-message.active {
  left: 106%;
  opacity: 1;
}

/* 彈出訊息結尾 */
/* 首頁結尾 */
/* 會員 */
/* line 187, ../sass/board.scss */
.block-user {
  width: 100%;
  height: 100%;
  padding: 15px;
}

/* line 193, ../sass/board.scss */
.block-user-info {
  width: 100%;
  height: 40%;
}

/* line 198, ../sass/board.scss */
.block-user-photo {
  width: 80px;
  height: 100%;
  float: left;
}

/* line 204, ../sass/board.scss */
.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* line 210, ../sass/board.scss */
.block-user-name {
  width: calc(100% - 80px);
  height: 60%;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  float: left;
}

/* line 219, ../sass/board.scss */
.block-user-update {
  width: calc(100% - 80px);
  height: 40%;
  text-align: center;
  font-size: 14px;
  float: left;
}

/* line 227, ../sass/board.scss */
.block-user-group {
  width: 100%;
  height: 40%;
}
/* line 230, ../sass/board.scss */
.block-user-group > div {
  height: 50%;
  float: left;
  line-height: 30px;
}

/* line 237, ../sass/board.scss */
.block-user-count,
.block-user-achieve {
  width: 60%;
}

/* line 242, ../sass/board.scss */
.block-user-countDetail,
.block-user-achieveDetail {
  width: 40%;
  text-align: center;
}

/* line 248, ../sass/board.scss */
.block-user-index {
  width: 100%;
  height: 20%;
}

/* line 253, ../sass/board.scss */
#btn-index {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #FFFFFF;
  font-size: 18px;
}
/* line 259, ../sass/board.scss */
#btn-index:hover {
  color: #FFFFFF;
}
/* line 262, ../sass/board.scss */
#btn-index:focus {
  color: #FFFFFF;
}

/* 會員結尾 */
/* 行事曆 */
/* line 273, ../sass/board.scss */
#block-course > .block-body {
  position: relative;
}

/* line 277, ../sass/board.scss */
.scroller {
  overflow: scroll;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

/* line 285, ../sass/board.scss */
.block-course-list {
  width: 100%;
  height: 60px;
  padding: 5px;
  border-bottom: 1px #9f9f9f solid;
  cursor: pointer;
}
/* line 291, ../sass/board.scss */
.block-course-list > div {
  float: left;
}
/* line 294, ../sass/board.scss */
.block-course-list:hover {
  background: #4f4f4f;
}
/* line 297, ../sass/board.scss */
.block-course-list:last-child {
  border: none;
}

/* line 302, ../sass/board.scss */
.block-course-thumb {
  width: 50px;
  height: 50px;
  padding: 2px;
}

/* line 308, ../sass/board.scss */
.course-thumb {
  width: 100%;
  height: 100%;
}

/* line 313, ../sass/board.scss */
.block-course-title {
  width: calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  height: 60%;
  line-height: 30px;
  padding-left: 10px;
}

/* line 321, ../sass/board.scss */
.block-course-time {
  width: calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  height: 40%;
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px;
}

/* 行事曆結尾 */
/* 詳細block */
/* line 335, ../sass/board.scss */
.block-detail-outer {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: -1000%;
  -moz-transition: all, 1s, ease-in, 1s;
  -o-transition: all, 1s, ease-in, 1s;
  -webkit-transition: all, 1s, ease-in, 1s;
  transition: all, 1s, ease-in, 1s;
}
/* line 342, ../sass/board.scss */
.block-detail-outer.active {
  top: 0;
}

/* line 346, ../sass/board.scss */
.block-detail {
  height: 90%;
  width: 80%;
  left: 10%;
  position: fixed;
  top: -1000%;
  color: #FFFFFF;
  background: #3d3d3d;
  -moz-transition: all, 1s, ease-in, 1s;
  -o-transition: all, 1s, ease-in, 1s;
  -webkit-transition: all, 1s, ease-in, 1s;
  transition: all, 1s, ease-in, 1s;
}
/* line 358, ../sass/board.scss */
.block-detail.active {
  top: 5%;
}

/* line 363, ../sass/board.scss */
.block-detail > .block-body > div {
  padding: 15px;
}

/* line 367, ../sass/board.scss */
.title {
  left: 5px;
  position: absolute;
}

/* line 372, ../sass/board.scss */
.back {
  right: 5px;
  position: absolute;
  cursor: pointer;
}

/* detai1 */
/* line 381, ../sass/board.scss */
#detail1-main-chart {
  width: 70%;
  height: 50%;
  left: 0;
  top: 30px;
  position: absolute;
}

/* line 389, ../sass/board.scss */
#detail1-right-tabs {
  width: 25%;
  height: 50%;
  right: 0;
  top: 30px;
  position: absolute;
}

/* line 397, ../sass/board.scss */
#detail1-left-chart,
#detail1-right-chart {
  width: 50%;
  height: 50%;
  position: absolute;
}

/* line 404, ../sass/board.scss */
#detail1-left-chart {
  left: 0;
  top: 50%;
}

/* line 409, ../sass/board.scss */
#detail1-right-chart {
  right: 0;
  top: 50%;
}

/* detail1結尾 */
/* detail2 */
/* line 420, ../sass/board.scss */
#detail2-topleft-chart,
#detail2-topright-chart,
#detail2-bottomleft-chart,
#detail2-bottomright-chart {
  width: 50%;
  height: 50%;
  position: absolute;
}

/* line 429, ../sass/board.scss */
#detail2-topleft-chart {
  left: 0;
  top: 0;
}

/* line 434, ../sass/board.scss */
#detail2-right-chart {
  right: 0;
  top: 0;
}

/* line 439, ../sass/board.scss */
#detail2-left-chart {
  left: 0;
  top: 50%;
}

/* line 444, ../sass/board.scss */
#detail2-right-chart {
  right: 0;
  top: 50%;
}

/* detail2結尾 */
/* detail3 */
/* line 455, ../sass/board.scss */
#detail3-main-iframe {
  width: 100%;
  height: 100%;
}

/* detail3結尾 */
/*詳細block結尾 */
