/* line 3, ../sass/front.scss */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 9, ../sass/front.scss */
.block-front {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

/* line 16, ../sass/front.scss */
.block-index {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 120%;
  left: calc(50% - 100px);
  -moz-transition: all, 0.7s, ease-in;
  -o-transition: all, 0.7s, ease-in;
  -webkit-transition: all, 0.7s, ease-in;
  transition: all, 0.7s, ease-in;
}
/* line 23, ../sass/front.scss */
.block-index.active {
  top: 80%;
}

/* line 27, ../sass/front.scss */
.btn-flat {
  background: transparent;
  color: #ffffff;
  border: 1px #ccc solid;
}
/* line 31, ../sass/front.scss */
.btn-flat:hover {
  color: #ffffff;
}
/* line 34, ../sass/front.scss */
.btn-flat:focus {
  color: #ffffff;
}
