@charset "UTF-8";
/* 設定變數 */
/* 設定變數結尾 */
/*修改頁面元素 */
/* line 22, ../sass/main.scss */
html,
body {
  width: 100%;
  height: 100%;
}

/* line 28, ../sass/main.scss */
body {
  background: #1f1f1f;
}

/* 修改頁面元素結尾 */
/* 覆寫bootstrap */
/* line 38, ../sass/main.scss */
.container {
  width: 80%;
  height: 100%;
}

/* line 43, ../sass/main.scss */
.form-control {
  margin: 5px;
}

/* line 47, ../sass/main.scss */
.form-group {
  margin-bottom: 0px;
}

/* line 51, ../sass/main.scss */
.btn:focus,
.btn:active {
  color: inherit;
}

/* line 56, ../sass/main.scss */
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

/* line 65, ../sass/main.scss */
.btn-default {
  height: 100%;
  line-height: 1.2;
}

/* line 70, ../sass/main.scss */
.btn-flat {
  background: transparent;
  color: #FFFFFF;
  border: 1px #ccc solid;
}
/* line 74, ../sass/main.scss */
.btn-flat:hover {
  color: #FFFFFF;
}
/* line 77, ../sass/main.scss */
.btn-flat:focus {
  color: #FFFFFF;
}

/* line 81, ../sass/main.scss */
.btn-sex {
  background: transparent;
  border: 1px #ccc solid;
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 88, ../sass/main.scss */
.btn-sex.active {
  background: #FFFFFF;
}
/* line 91, ../sass/main.scss */
.btn-sex:hover {
  color: #FFFFFF;
}
/* line 94, ../sass/main.scss */
.btn-sex:focus {
  color: #FFFFFF;
}

/* line 99, ../sass/main.scss */
.fa-mars {
  vertical-align: middle;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 102, ../sass/main.scss */
.fa-mars.active {
  color: #3366cc;
}

/* line 107, ../sass/main.scss */
.fa-venus {
  vertical-align: middle;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 110, ../sass/main.scss */
.fa-venus.active {
  color: #dc3912;
}

/* 覆寫bootstrap */
/* 首頁block */
/* line 120, ../sass/main.scss */
.unscroll {
  overflow: hidden;
}

/* line 124, ../sass/main.scss */
.block-container {
  margin-top: 30px;
  width: 80%;
  position: absolute;
  top: 0;
  left: 10%;
  -moz-transition: all, 0.5s, ease-in;
  -o-transition: all, 0.5s, ease-in;
  -webkit-transition: all, 0.5s, ease-in;
  transition: all, 0.5s, ease-in;
}
/* line 131, ../sass/main.scss */
.block-container.gotop {
  top: 300%;
}
/* line 134, ../sass/main.scss */
.block-container.ontop {
  display: none;
}

/* line 139, ../sass/main.scss */
.block-outer {
  height: 290px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

/* line 145, ../sass/main.scss */
.block-inner {
  width: 100%;
  height: 100%;
  position: relative;
  background: #3d3d3d;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
  -moz-border-radius: 1.5%;
  -webkit-border-radius: 1.5%;
  border-radius: 1.5%;
}
/* line 153, ../sass/main.scss */
.block-inner.opacity {
  opacity: 0.6;
}

/* line 158, ../sass/main.scss */
.block-header {
  height: 30px;
  width: 100%;
  border-bottom: 1px #000000 dotted;
  line-height: 30px;
  padding-left: 5px;
}

/* line 166, ../sass/main.scss */
.block-body {
  height: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  width: 100%;
}

/* line 172, ../sass/main.scss */
.block-thumb {
  height: 98%;
  width: 98%;
  margin: 0 auto;
  margin-top: 0.4%;
}

/* 首頁block結尾 */
/* 會員 */
/* line 185, ../sass/main.scss */
.block-login-input {
  width: 100%;
  height: 80%;
  padding: 24px;
}
/* line 189, ../sass/main.scss */
.block-login-input > input {
  margin: 8px auto;
}

/* line 194, ../sass/main.scss */
.block-register-input {
  width: 100%;
  height: 20%;
  position: relative;
  text-align: right;
}

/* line 201, ../sass/main.scss */
#btn-login,
#btn-register,
#btn-board {
  background: transparent;
  color: #FFFFFF;
}
/* line 206, ../sass/main.scss */
#btn-login:hover,
#btn-register:hover,
#btn-board:hover {
  color: #FFFFFF;
}
/* line 209, ../sass/main.scss */
#btn-login:focus,
#btn-register:focus,
#btn-board:focus {
  color: #FFFFFF;
}

/* line 214, ../sass/main.scss */
#btn-login {
  margin-top: 20px;
  border: 1px #fff solid;
  width: 80%;
  font-size: 16px;
}

/* line 221, ../sass/main.scss */
#btn-register {
  text-decoration: underline;
}

/* line 225, ../sass/main.scss */
.block-user {
  width: 100%;
  height: 100%;
  padding: 15px;
}

/* line 231, ../sass/main.scss */
.user-photo {
  width: 100%;
  height: 50%;
}
/* line 234, ../sass/main.scss */
.user-photo img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

/* line 243, ../sass/main.scss */
.user-name {
  width: 100%;
  height: 30%;
  text-align: center;
  line-height: 69px;
  color: #FFFFFF;
  font-size: 24px;
}

/* line 252, ../sass/main.scss */
.user-board {
  width: 100%;
  height: 20%;
}

/* line 257, ../sass/main.scss */
#btn-board {
  width: 100%;
  height: 100%;
  border: 1px #fff solid;
}

/* 會員結尾 */
/* 最新消息 */
/* line 269, ../sass/main.scss */
.news-scroller {
  overflow: auto;
  position: absolute;
  left: 0;
  top: 30px;
  bottom: 0;
  width: 100%;
}

/* line 278, ../sass/main.scss */
.block-news-list {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-bottom: 1px #9f9f9f solid;
  line-height: 30px;
  cursor: pointer;
}
/* line 285, ../sass/main.scss */
.block-news-list > div {
  float: left;
}
/* line 288, ../sass/main.scss */
.block-news-list:hover {
  background: #4f4f4f;
}
/* line 291, ../sass/main.scss */
.block-news-list:last-child {
  border: none;
}

/* 最新消息結尾 */
/* 名人榜 */
/* line 302, ../sass/main.scss */
.block-fame {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 308, ../sass/main.scss */
.block-fame-list {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  -webkit-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}
/* line 316, ../sass/main.scss */
.block-fame-list.opacity {
  opacity: 1;
}
/* line 319, ../sass/main.scss */
.block-fame-list.left {
  left: -120%;
}
/* line 322, ../sass/main.scss */
.block-fame-list.active {
  left: 0;
}
/* line 325, ../sass/main.scss */
.block-fame-list.right {
  left: 120%;
}

/* line 330, ../sass/main.scss */
.block-fame-title {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
}

/* line 338, ../sass/main.scss */
.block-fame-thumb {
  width: 100%;
  height: 60%;
  padding-left: calc(50% - 65px);
}
/* line 342, ../sass/main.scss */
.block-fame-thumb > img {
  width: 130px;
  height: 130px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 349, ../sass/main.scss */
.block-fame-name {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 20px;
}

/* 名人榜結尾 */
/* 相簿 */
/* line 362, ../sass/main.scss */
.block-carousel {
  width: 100%;
  height: 100%;
}

/* 相簿結尾 */
/* 大數據分析 */
/* line 371, ../sass/main.scss */
.block-sex {
  position: absolute;
  top: 36px;
  right: 6px;
}

/* 大數據分析結尾 */
/* 推薦課程 */
/* line 381, ../sass/main.scss */
.block-course-outer {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}

/* line 392, ../sass/main.scss */
.block-course-inner {
  width: 50%;
  height: 80%;
  left: 25%;
  top: 10%;
  position: fixed;
  color: #FFFFFF;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 402, ../sass/main.scss */
.block-course-inner.active {
  opacity: 1;
}
/* line 405, ../sass/main.scss */
.block-course-inner > .block-body {
  overflow: hidden;
  position: relative;
}

/* line 411, ../sass/main.scss */
.course-scroller {
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 419, ../sass/main.scss */
.course-scroller.active {
  left: -100%;
}

/* line 424, ../sass/main.scss */
.course-list {
  padding: 10px;
}

/* line 428, ../sass/main.scss */
.course-position {
  height: 30px;
  padding: 12px;
}
/* line 431, ../sass/main.scss */
.course-position:hover {
  background: #4f4f4f;
  cursor: pointer;
}

/* line 437, ../sass/main.scss */
.position-detail {
  width: 100%;
  height: 100%;
  left: 120%;
  top: 0;
  position: relative;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
}
/* line 444, ../sass/main.scss */
.position-detail.active {
  left: 0;
}

/* 推薦課程結尾 */
/* 詳細block */
/* line 455, ../sass/main.scss */
.block-detail-outer {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: -1000%;
  -moz-transition: all, 1s, ease-in, 1s;
  -o-transition: all, 1s, ease-in, 1s;
  -webkit-transition: all, 1s, ease-in, 1s;
  transition: all, 1s, ease-in, 1s;
}
/* line 462, ../sass/main.scss */
.block-detail-outer.active {
  top: 0;
}

/* line 467, ../sass/main.scss */
.block-detail {
  height: 90%;
  width: 80%;
  left: 10%;
  position: fixed;
  top: -1000%;
  color: #FFFFFF;
  background: #3d3d3d;
  -moz-border-radius: 1.5%;
  -webkit-border-radius: 1.5%;
  border-radius: 1.5%;
  -moz-transition: all, 1s, ease-in, 1s;
  -o-transition: all, 1s, ease-in, 1s;
  -webkit-transition: all, 1s, ease-in, 1s;
  transition: all, 1s, ease-in, 1s;
}
/* line 477, ../sass/main.scss */
.block-detail.active {
  top: 5%;
}

/* line 482, ../sass/main.scss */
.block-detail > .block-body > div {
  padding: 15px;
}

/* line 486, ../sass/main.scss */
.title {
  left: 5px;
  position: absolute;
}

/* line 491, ../sass/main.scss */
.back {
  right: 5px;
  position: absolute;
  cursor: pointer;
}

/* detail3 */
/* line 500, ../sass/main.scss */
#detail3-main-iframe {
  width: 100%;
  height: 100%;
}
